:root {
  --skin: #f6c09c;
  --background: #ed4042;
  --red: #ed2860;
  --dark-red: #680524;
  --black: #00243a;
  --white: #fff;
  --skin-small-ear: #ba6936;
  --skin-neck: #d19471;
}

body {
  margin: 0;
  background: coral;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  width: 600px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px red;
}

.head {
  background: var(--skin);
  border-radius: 50px;
  position: relative;
  width: 100px;
  height: 200px;
}
